Exec FTP Server 0.69
mc0:/BOOT/EXECFTPS0_69/EXECFTPS.ELF
_MKDIR mc0:/BOOT/EXECFTPS0_69
_COPY cdrom0:\EXECFTPS.ELF;1 mc0:/BOOT/EXECFTPS0_69/EXECFTPS.ELF
_COPY cdrom0:\CONFIG.DAT;1 mc0:/BOOT/EXECFTPS0_69/CONFIG.DAT
